Tests: cli
Depends: php7.0-cli, wget

Tests: cgi
Depends: apache2, php7.0-cgi, wget
Restrictions: needs-root

Tests: mod-php
Depends: apache2, libapache2-mod-php7.0, wget
Restrictions: needs-root

Tests: fpm
Depends: apache2, php7.0-fpm, wget
Restrictions: needs-root
