[Unit]
Description=The PHP @PHP_VERSION@ FastCGI Process Manager
After=network.target

[Service] 
Type=notify
PIDFile=/run/php/php@PHP_VERSION@-fpm.pid
ExecStartPre=/usr/lib/php/php@PHP_VERSION@-fpm-checkconf
ExecStart=/usr/sbin/php-fpm@PHP_VERSION@ --nodaemonize --fpm-config /etc/php/@PHP_VERSION@/fpm/php-fpm.conf
ExecReload=/usr/lib/php/php@PHP_VERSION@-fpm-checkconf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
